* {
    font-family: "Helvetica" !important;
}

/*
Makes side navigation search box BAM-green
Makes side navigation search box title BAM-black
*/
.wy-side-nav-search,
.wy-side-nav-search>a {
    background-color: #0DB02B;
    color: #272d33;
}
.wy-side-nav-search>div.version {
    color: #272d33;
}

.wy-side-nav-search input[type=text] {
    border-radius: 0px;  /* square edged */
    border-color: #272d33;
}

/*
Makes top navigation background BAM-black
Makes top navigation menu button BAM-green
*/
.wy-nav-top {
    background-color: #272d33;
    color: #0DB02B;
}
/* Makes top navigation title BAM-green */
.wy-nav-top a {
    color: #0DB02B;
}

/* Makes side navigation background BAM-black */
.wy-nav-side {
    background-color: #272d33;
}

/* Makes side navigation entries gray */
.wy-menu-vertical li span.toctree-expand {
    color: #0DB02B;
}

/* Makes side navigation entries BAM-green on hover */
.wy-menu-vertical a:hover {
    color:#0DB02B
}

/* Makes side navigation entries background color BAM-green on click */
/* Makes side navigation entries text color BAM-black on click */
.wy-menu-vertical a:active {
    background-color: #0DB02B;
    color: #272d33;
}

/* Makes side navigation expand buttons BAM-green */
.wy-menu-vertical a:hover span.toctree-expand {
    color:#0DB02B
}

/* Makes side navigation caption BAM-green */
.wy-menu-vertical p.caption {
    color: #0DB02B;
}

/* Makes hyperlink color Viktor-blue */
.wy-nav-content a {
    color: rgb(90, 148, 230);
}

/* Underline hyperlink on hover */
.wy-nav-content a:hover {
    color: rgb(90, 148, 230);
    text-decoration: underline
}

/* Makes visited hyperlink color purple */
.wy-nav-content a:visited {
    color: #9B59B6;
}

/* Makes background color of highlighted text yellow */
/* No padding around highlighted text */
.rst-content .highlighted {
    background: #fbef31;
    padding: 0px;
}

.wy-side-nav-search > a.icon img.logo, .wy-side-nav-search .wy-dropdown > a.icon img.logo {
    width: 175px;
}

/* Displays methods with 100% width */
.py.property {
    display: contents !important;
}