furo==2024.8.6
ipykernel==6.29.5
ipython==8.30.0
ipywidgets==8.1.5
nbconvert==7.16.4
nbsphinx==0.9.5
sphinx==8.1.3
sphinx-click==6.0.0
sphinx-copybutton==0.5.2
sphinxext-opengraph==0.9.1
matplotlib>=3.7.2