name: Greetings

on:
  pull_request:
    types: [ opened ]
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: write

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        uses: actions/github-script@v8
        with:
          script: |
            const prComment = `Thank you so much for contributing to Blueprints! 
            Your contributions help thousands of engineers work more efficiently and accurately.\n\nNow that you've created your pull request, please don't go away; take a look at the bottom of this page for the automated checks that should already be running. If they pass, great! If not, please click on 'Details' and see if you can fix the problem they've identified. A maintainer should be along shortly to review your pull request and help get it added!`;
            
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: prComment,
            });
