name: Python tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Run Code Checks and Tests with Minimum Dependencies
    runs-on: "ubuntu-latest"

    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install CI/CD dependencies (excluding dev dependencies)
        run: make ci-install

      # Run the tests before the linting and formatting checks to ensure that dev dependencies are not required for the tests.
      - name: Run tests with pytest
        run: make test-verbose

      - name: Run linting checks with ruff
        run: make lint

      - name: Run formatting checks with ruff
        run: make format

      - name: Run type checks with mypy
        run: make typecheck
